@import "./variables";
@import "./functions";

#mainCont {
  display: flex;
}

#mainBodyCol {
  flex-basis: 80%;
  // display: flex;

  #cardCont {
    // flex: 1;
    display: flex;
    // flex-wrap: wrap;

    #displayCards {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-wrap: wrap;

      .card {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1;
        flex-direction: column;

        .card__image {
          flex-basis: 83%;
          display: flex;

          & img {
            flex: 1;
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
          }
        }

        .card__content {
          display: flex;
          flex-basis: 50%;
          flex-direction: column;
          padding: 1rem;

          .card__title {
            color: grey;
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
          .card__text {
            flex: 1 1 auto;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
          }
        }
      }
    }
  }

  // box-sizing: border-box;
}

#sideBarCont {
  background: $sideBarColor;
  display: flex;
  text-align: center;
  flex-basis: 15%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;

  ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;

    li {
      margin-bottom: 20px;
      a {
        color: $sideBarText;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: white !important;
        }
      }
    }
  }
}
